datasets/d503/
datasets/d503_SRFormer_format/
datasets/ntu/
final/
SRFormer-Text-Det/visualize/
SRFormer-Text-Det/tmp_crop/
SRFormer-Text-Det/checkpoint/
SRFormer-Text-Det/output/
TrOCR/output/
SRFormer-Text-Det/build/
**/__pycache__/
ID-Blau/dataset/*
!ID-Blau/dataset/README.md